<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/movies/edit.css" />
<%- include('../partials/nav')  %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form"
    action="/flights/<%= flight._id %>?_method=PUT"
    method="POST"
  >
    <label for="Airline-input">Airline:</label>
    <input 
    type="string" 
    name="airline" 
    id="airline-input" 
    value="<%= flight.airline%>">

    <label for="airport-input">Airport:</label>
    <input
      type="text" 
      name="airport" 
      id="airport-input" 
      value="<%= flight.airport%>">

    <label for="flightNo">Flight Number:</label>
    <select name="flightNo" id="flightNo-select">
      <option value="<%= flight.flightNo %>"><%= flights.flightNo %></option>
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>

    <label for="departs">Departs:</label>
    <input 
      type="date"
      name="nowShowing"
      id="now-showing-checkbox" 
      <%= flight.departs ? 'checked' : '' %>
    >
    <button type="submit">Save Flight</button>
  </form>
</main>

<%- include('../partials/footer')  %> 