<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <form id="new-form" action="" method="">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
    <input 
    <option value="<%= flight.airline %>"><%= flights.airline %></option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>

    <label for="airport-input">Airport:</label>
    <select name="airport" id="airport-select">
    <input
    <option value="<%= flight.airport %>"><%= flights.airport %></option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    </select>

    <label for="flightNo">Flight Number:</label>
    <select name="flightNo" id="flightNo-select">
    </select>

    <label for="departs">Departs:</label>
    <input 
      type="date"
      name="departs"
      id="departs-date">

      <button type="submit">Save Flight</button>
  </form>
</main>




<%- include("../partials/footer") %>